<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Display</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

        <script type="text/javascript">
            window.onload = setupRefresh;
         
            function setupRefresh() {
              setTimeout("refreshPage();", 2000); // milliseconds
            }
            function refreshPage() {
               let oldUrl = location.href
               let index = oldUrl.length-1

               while(oldUrl.charAt(index) != "/") {
                  index -= 1
               }
               
               let number = parseInt(oldUrl.substr(index+1)) + 1

               let newUrl = oldUrl.substring(0, index+1) + number
               
               window.location = newUrl
            }
        </script>
    </head>
    <body>
            <span class="message">Count: {{ count }}</span>
    </body>
</html>